services:
  kong:
    image: kong:3.9-ubuntu
    container_name: kong_gateway
    volumes:
      - ../gateway/kong.yml:/usr/local/kong/declarative/kong.yml
    env_file:
      - .env
    ports:
      - "8000:8000"
      - "8443:8443"
      - "127.0.0.1:8001:8001"
      - "127.0.0.1:8444:8444"
    networks:
      - web
      - backend

  users-services:
    build:
      context: ../services/users
      dockerfile: Dockerfile
    container_name: users
    ports:
      - "3001:3001"
    env_file:
      - .env
    volumes:
      - ../services/users/src:/usr/src/app/src
      - ../services/users/data/users.sqlite:/usr/src/app/data/users.sqlite
    networks:
      - backend

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:80"
    networks:
      - backend

networks:
  web:
    driver: bridge
  backend:
    driver: bridge